.container_fichelogement{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    .container_infos{
        display: flex;
        margin-bottom: 24px;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
      }
    }
    .logement_infos{
        display: flex;
        flex-direction: column;
        .logement_title {
              h1 {
                    font-size: 36px;
                    margin-bottom: 0;
                    margin-top: 0;
                    @media (max-width: 768px) {
                          font-size: 18px;
                          font-weight: 500;
                    }
              }
            }
            .logement_location {
                margin-top: 0;
                font-size: 18px;
                margin-bottom: 20px;

                @media (max-width: 768px) {
                      margin-bottom: 10px;
                      font-size: 14px;
                      font-weight: 500;
                }
          }
          .container_tags {
            display: flex;
            gap: 10px;
            .Tags {
                  display: flex;
                  font-size: 14px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 25px;
                  color: #FFF;
                  padding: 8px 30px;
                  background-color: #ff6060;
                  @media (max-width: 768px) {
                        margin-top: 15px;
                        font-size: 10px;
                        padding: 2px 15px;
                  }
            }
        }
    }
    .container_hostrating {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 768px) {
              flex-direction: row-reverse;
              justify-content: space-between;
              align-items: center;
              margin-top: 15px;
        }
        .host {
              display: flex;
              width: 100%;
              text-align: right;
              justify-content: flex-end;
              align-items: center;
              gap: 10px;
              @media (max-width: 768px) {
                    min-width: 20%;
                    max-width: 25%;
                    font-size: 12px;
              }
              .host_name {
                    width: 50%;
              }
              .host_pict {
                    border-radius: 90px;
                    width: 64px;
                    height: 64px;
                    @media (max-width: 768px) {
                          width: 32px;
                          height: 32px;
                          margin-left: 10px;
                    }
              }
              .container_rating {
                    bottom: 0;
                    .rating {
                          display: flex;                              
                          font-size: 14px;
                          justify-content: center;
                          align-items: center;
                          border-radius: 25px;
                          color: #FFF;
                          background-color: #ff6060;                              
                          .img {
                                width: 24px;
                                height: 24px;
                                @media (max-width: 768px) {
                                      width: 18px;
                                      height: 18px;
                                }
                          }                              
                    }
              }
        }
  }
}

.container_content{
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
       
  }
    .container_collapse_1{
        width: 60%;
        margin-left: -33px;
        @media (max-width: 768px) {
            width: auto;
        }
    }
    .container_collapse_2{
        width: 60%;
        margin-right: -30px;
        @media (max-width: 768px) {
            width: auto;
        }
    }
}